/* Variables & Reset
---------------------------------- */

:root {
    --size-300: clamp(0.7rem, 0.66rem + 0.2vw, 0.8rem) !important;
    --size-400: clamp(0.88rem, 0.83rem + 0.24vw, 1rem) !important;
    --size-500: clamp(1.09rem, 1rem + 0.47vw, 1.33rem) !important;
    --size-600: clamp(1.37rem, 1.21rem + 0.8vw, 1.78rem) !important;
    --size-700: clamp(1.71rem, 1.45rem + 1.29vw, 2.37rem) !important;
    --size-800: clamp(2.14rem, 1.74rem + 1.99vw, 3.16rem) !important;
    --size-900: clamp(2.67rem, 2.07rem + 3vw, 4.21rem) !important;
    --size-1000: clamp(3.34rem, 2.45rem + 4.43vw, 5.61rem) !important;

    --layout-max-width: 1920px !important;
    --clr-dark: #3A3938 !important;
    --clr-pale: #f5efdf !important;
    --clr-red: #d6001c !important;
    --color-code-bg: var(--clr-pale) !important;
    --color-ui-hover-bg: var(--clr-red) !important;

    --space-default: 1.32rem !important;
    --space-l1-lg: 4.2rem !important;
    --space-l2-lg: 3.1rem !important;
    --space-l3-lg: 2.6rem !important;
    --space-l1-sm: calc(var(--space-l1-lg) / 3) !important;
    --space-l2-sm: calc(var(--space-l2-lg) / 3) !important;
    --space-l3-sm: calc(var(--space-l3-lg) / 3) !important;
    --space-list-items: 0.5rem !important;
}

* {
    -webkit-box-sizing: border-box !important;
    box-sizing: border-box !important;
}

img,
picture,
video,
iframe,
figure {
    max-width: 100% !important;
    width: 100% !important;
    display: block !important;
}

table,
tr,
td {
    border-collapse: collapse !important;
    border-spacing: 0 !important;
}

a {
    text-decoration: none !important;
}

a:hover {
    text-decoration: underline !important;
}

body {
    font-size: 100% !important;
    line-height: 1.15 !important;
    font-smooth: always !important;
    -webkit-font-smoothing: antialiased !important;
    -moz-osx-font-smoothing: grayscale !important;
    background-color: var(--clr-dark) !important;
    color: var(--clr-pale) !important;
}

.notion-semantic-string {
    white-space: normal !important;
    line-height: 1.15 !important;
}


/* Layout 
---------------------------------- */

.super-content.max-width {
    padding: 10vh 0 20vh 0 !important;
}

.notion-root {
    display: block !important;
    margin: 0 auto !important;
    width: 100% !important;
    letter-spacing: -0.015em !important;
}

.notion-header__title-wrapper {
    display: block !important;
    width: 86% !important;
    max-width: 880px !important;
    margin: 8em auto 0 auto !important;
}

.notion-column-list {
    width: 100% !important;
    align-items: flex-start !important;
    font-size: var(--size-500) !important;
    line-height: 1.25 !important;
    flex-wrap: nowrap !important;
}

.notion-column {
    padding: 0 !important;
}


/* Hidden Elements 
---------------------------------- */

.notion-header__cover.no-cover,
.super-root.page__index .notion-navbar,
.notion-page__icon,
#page-index .notion-header__title-wrapper {
    display: none !important !important;
}


/* Margins 
---------------------------------- */

:where(.notion-root) :is(.notion-text, .notion-bulleted-list, .notion-numbered-list, .notion-link.notion-page) {
    margin-bottom: var(--space-default) !important;
}

:where(.notion-root) .notion-image {
    margin-top: 0 !important;
    margin-bottom: var(--space-l1-lg) !important;
}

:where(.notion-root) h2 {
    margin-top: var(--space-l2-lg) !important;
    margin-bottom: var(--space-l2-sm) !important;
}

:where(.notion-root) h3 {
    margin-top: var(--space-l3-lg) !important;
    margin-bottom: var(--space-l3-sm) !important;
}

:where(.notion-root) h2+.notion-text {
    margin-top: var(--space-l1-sm) !important;
}

:where(.notion-root) h3+.notion-text {
    margin-top: var(--space-default) !important;
}

:where(.notion-root) h2+h3 {
    margin-top: var(--space-l3-sm) !important;
}

:where(.notion-root) li+li {
    margin-top: var(--space-list-items) !important;
}

:where(.notion-root) li :is(ul, ol) {
    margin-top: var(--space-list-items) !important;
    margin-bottom: 0 !important;
}

:where(.notion-root) :is(.notion-code, .notion-quote, .notion-root > .notion-link) {
    margin-top: var(--space-l3-lg) !important;
    margin-bottom: 2em !important;
}

:where(.notion-root)>*:first-child {
    margin-top: 0 !important;
}

:where(.notion-root)>*:last-child {
    margin-bottom: 0 !important;
}


/* Blocks 
---------------------------------- */

.notion-root>h2,
.notion-root>h3,
.notion-text,
.notion-bulleted-list,
.notion-numbered-list,
.notion-caption,
.notion-quote,
.notion-code,
.notion-embed,
.notion-image,
.notion-root>.notion-link,
.parent-page__index .notion-header__title,
.parent-page__index .notion-text .notion-text__content,
.parent-page__index h1,
.parent-page__index h2,
.parent-page__index h3 {
    width: 86% !important;
    max-width: 880px !important;
    margin-left: auto !important;
    margin-right: auto !important;
}

.notion-text .notion-text__content {
    font-size: var(--size-600) !important;
    line-height: 1.4 !important;
}

.notion-divider {
    height: 1px !important;
    background-color: var(--clr-pale) !important;
    border: 0 !important;
    margin: var(--space-l1-lg) 0 var(--space-l1-lg) !important;
}

.notion-bulleted-list,
.notion-numbered-list {
    font-size: var(--size-600) !important;
}

.notion-caption {
    margin: 0 auto !important;
    margin-top: .3em !important;
    text-align: center !important;
}

.notion-quote {
    background-color: var(--clr-pale) !important;
    padding: 1em !important;
    color: var(--clr-dark) !important;
    border-left: 10px solid var(--clr-red) !important;
    border-radius: 5px !important;
    line-height: 1.4 !important;
}

.notion-root>.notion-link {
    display: block !important;
    padding: 1em !important;
    background-color: var(--clr-red) !important;
}

.notion-root>.notion-link .notion-page__title:after {
    content: " →" !important;
    line-height: 1.8 !important;
}

.notion-root>.notion-link .notion-page__title .notion-semantic-string {
    border: 0 !important;
}

.notion-root>.notion-link,
.notion-quote {
    font-size: var(--size-600) !important;
}

.notion-code code {
    font-size: var(--size-500) !important;
    line-height: 1.6 !important;
}

article>h2 {
    font-size: var(--size-800) !important;
    margin: 0 auto !important;
    letter-spacing: -0.02em !important;
}

article>h3 {
    font-size: var(--size-700) !important;
    margin: 0 auto !important;
    letter-spacing: -0.02em !important;
}

#block-7ad5bac6eb49427ca0a661e78bc9209e {
    padding: 1em !important;
    background-color: var(--clr-red) !important;
    border-radius: 5px !important;
}

#block-7ad5bac6eb49427ca0a661e78bc9209e .notion-link {
    font-size: var(--size-600) !important;
    border: 0 !important;
    font-weight: 600 !important;
    color: white !important;
}

#block-7ad5bac6eb49427ca0a661e78bc9209e .notion-link:after {
    content: " →" !important;
}

.notion-image#block-3ef3d85b66eb4948ba2aa3e5a6421a72 {
    width: 100% !important;
    max-width: none !important;
}


/* Banner 
---------------------------------- */

#block-82acb5d4cdd6465e88bc2263a732738b {
    padding: 0 !important;
    width: 80% !important;
    max-width: 1140px !important;
    margin: 0 auto 20vh auto !important;
    align-items: center !important;
}

#block-82acb5d4cdd6465e88bc2263a732738b h1 {
    margin-bottom: .8em !important;
}

#block-82acb5d4cdd6465e88bc2263a732738b h1 .notion-semantic-string {
    font-size: var(--size-800) !important;
    line-height: 1.15 !important;
    font-weight: 700 !important;
    letter-spacing: -0.025em !important;
    color: var(--clr-pale) !important;
}

#block-82acb5d4cdd6465e88bc2263a732738b .notion-text__content {
    font-size: var(--size-500) !important;
    line-height: 1.4 !important;
}

#block-82acb5d4cdd6465e88bc2263a732738b .notion-column {
  margin: 0 auto !important;
}


/* Three columns 
---------------------------------- */

#block-5bd9307cb351485687096a167b96a363 {
    background-color: var(--clr-pale) !important;
    color: var(--clr-dark) !important;
    justify-content: center !important;
    column-gap: 4% !important;
    padding: 6em 5em 7em 5em !important;
}

#block-5bd9307cb351485687096a167b96a363 {
    color: var(--clr-dark) !important;
    justify-content: center !important;
    column-gap: 4% !important;
    padding: 6em 5em 7em 5em !important;
}

.notion-column h3 {
    font-size: var(--size-600) !important;
    margin: 0 !important;
}

.notion-column .notion-text {
    width: 100% !important;
    margin: 0 !important;
}

.notion-column .notion-text .notion-text__content {
    font-size: var(--size-500) !important;
}


/* Table 
---------------------------------- */

.notion-collection {
    margin: 10vh auto 14vh auto !important;
}

.notion-collection__header-wrapper {
    margin: 0 !important;
}

.notion-property__title__icon-wrapper {
    display: none !important;
}

.notion-collection__header {
    line-height: 1.15 !important;
    font-size: var(--size-700) !important;
    padding: 30px 10% 20px 10% !important;
    letter-spacing: -0.017em !important;
}

.notion-collection-table__head {
    display: none !important;
}

.notion-collection-table__cell {
    border: 0 !important !important;
    border-bottom: 2px solid var(--clr-pale) !important;
}

.notion-collection-table__cell:nth-child(-n+2) {
    border-top: 2px solid var(--clr-pale) !important;
}

.notion-collection-table td,
.notion-collection-table th {
    height: auto !important;
    padding: 30px 10% 20px 10% !important;
}

.notion-property__select {
    padding: 20px 20% 20px 10% !important;
    display: flex !important;
    justify-content: flex-end !important;
    align-items: center !important;
    gap: 12px !important;
}

.notion-property__select .notion-pill {
    border-radius: 26px !important;
    background-color: var(--clr-pale) !important;
    padding: 1em 2em !important !important;
    font-weight: 700 !important;
    color: var(--clr-dark);
    font-size: var(--size-400) !important;
    display: block !important;
}

.notion-collection-table__cell.title .notion-semantic-string {
    line-height: 1.15 !important;
    font-size: var(--size-600) !important;
    letter-spacing: -0.017em !important;
}

.notion-collection-table__cell.title>a .notion-semantic-string>span {
    border-bottom: 2px solid var(--clr-pale) !important;
}

.notion-collection-table__cell.title>a .notion-semantic-string>span:hover {
    border-bottom: 2px solid var(--clr-red) !important;
}


/* Media Queries 
---------------------------------- */

@media only screen and (max-width: 600px) {

    .super-content.max-width {
        padding-top: 3.2em !important !important;
    }

    #block-82acb5d4cdd6465e88bc2263a732738b {
        width: 80% !important;
        margin: 0 auto 3.6em auto !important;
        align-items: flex-start !important;
        flex-wrap: wrap !important;
    }

    #block-5bd9307cb351485687096a167b96a363 {
        padding: 2.6em 0 1.3em 1.8em !important;
        flex-wrap: wrap !important;
    }

    #block-5bd9307cb351485687096a167b96a363 .notion-column {
        margin-bottom: 1.6em !important;
    }

    .notion-image {
        margin-bottom: 1em !important;
    }

    .notion-collection {
        margin: 1em auto 8vh auto !important;
    }

    .notion-collection__header {
        font-size: var(--size-600) !important;
        padding: 30px 10% 8px 10% !important;
    }

    .notion-collection-table__cell.title {
        padding: 2em 10% !important;
    }

    .notion-collection-table__cell.title .notion-semantic-string {
        font-size: var(--size-600) !important;
    }

    .notion-collection-table__cell.multi_select {
        display: none !important;
    }
    
    .notion-header__title-wrapper {
      max-width: none !important;
      margin-left: 0 !important;
    }

}