/*

Botanical Theme for Super
By Kowalski Press
https://kowalskipress.github.io/

*/


/* Reset
–––––––––––––––––––––––––––––––––––––––––––– */

*,
*::before,
*::after {
    box-sizing: border-box !important;
}

h1,
h2,
h3,
p {
    margin: 0 !important;
    padding: 0 !important;
}

img {
    max-width: 100% !important;
    display: block !important;
}

body {
    -webkit-font-smoothing: antialiased !important;
    -moz-osx-font-smoothing: grayscale !important;
    text-rendering: optimizeLegibility !important;
    line-height: 1.4 !important;
}

.notion-header__cover.no-cover {
    display: none !important;
}

.notion-root {
    border: 1px solid var(--color-border-default) !important;
}

.notion-root>* {
    padding-left: 6% !important;
    padding: right: 6% !important;
}

.notion-divider {
    padding: 0 !important;
    margin: 0 !important;
    border-bottom: 1px solid var(--color-border-default) !important;
    height: 1px !important;
}

.notion-root>.notion-heading {
    padding: 4% 6% 5px 6% !important;
}

.notion-heading {
    padding-bottom: 5px !important;
}

.notion-root .notion-heading+*,
.notion-column-list+.notion-column-list,
.notion-root .notion-text+.notion-text,
.notion-root .notion-text+.notion-code {
    padding-top: 0 !important;
    margin-top: 0 !important;
}

.notion-column-list {
    padding: 4% 6% 5% 6% !important;
    justify-content: space-between !important;
}

.notion-column-list,
.notion-column {
    margin: 0 !important;
}

.notion-heading+.notion-column-list {
    margin-top: 10px !important;
}

.notion-column-list:not(#block-c78b470fa71c4f7bb676a8166765180d) .notion-column {
    padding: 0 !important;
    width: 47% !important;
}

.notion-header__title {
    text-align: center !important;
    margin: 1.6em 0 1em 0 !important;
    letter-spacing: -0.01em !important;
}

.notion-heading {
    letter-spacing: -0.01em !important;
}

.notion-column-list .notion-text {
    padding: 0 !important;
}

/* About
–––––––––––––––––––––––––––––––––––––––––––– */

.notion-column-list#block-ea09b763c58c4aaf9e607be04b8c654c {
    padding: 0 !important;
}

.notion-column-list#block-ea09b763c58c4aaf9e607be04b8c654c .notion-column {
    width: 49% !important;
}

.notion-column-list#block-ea09b763c58c4aaf9e607be04b8c654c .notion-image {
    margin: 0 !important;
    border-right: 1px solid var(--color-border-default) !important;
}

.notion-column-list#block-ea09b763c58c4aaf9e607be04b8c654c .notion-column:nth-child(2) {
    padding: 4% 4% 3% 3% !important;
}

/* Blocks
–––––––––––––––––––––––––––––––––––––––––––– */

.notion-text,
.notion-numbered-list,
.notion-bulleted-list {
    padding: 4% 6% 5% 6% !important;
}

.notion-quote {
    border-left: 0 !important;
    margin: 0 !important;
    padding: 8% 10% 9% 10% !important;
}

.notion-image {
    padding: 0 !important;
    margin: 0 !important;
}

.notion-callout {
    margin: 0 !important;
    padding-top: 5% !important;
    padding-bottom: 5% !important;
}

.notion-embed {
    padding: 0 !important;
}

.notion-root .notion-text.bg-gray {
    text-align: center !important;
    padding-top: 4% !important;
}

.link {
    opacity: 1 !important;
}

.notion-numbered-list,
.notion-bulleted-list {
    padding-left: 10.6% !important;
}

.notion-page#block-how-to-use-this-template {
    display: none !important;
}

.notion-text.bg-gray .notion-text__content span {
    display: block;
    line-height: 1.3 !important;
    margin: 0;
}

pre {
    width: 92%;
    border: 1px solid var(--color-border-default) !important;
}


/* Queries
–––––––––––––––––––––––––––––––––––––––––––– */

@media only screen and (max-width: 600px) {

    .notion-column-list#block-ea09b763c58c4aaf9e607be04b8c654c {
        display: block !important;
    }

    .notion-column-list:not(#block-c78b470fa71c4f7bb676a8166765180d) .notion-column {
        width: 100% !important;
    }

    .notion-column-list#block-ea09b763c58c4aaf9e607be04b8c654c .notion-column:nth-child(2) {
        padding: 8% 10% 9% 10% !important;
    }

    .notion-root>*,
    .notion-root>.notion-heading {
        padding: 8% 10% 9% 10% !important;
    }

    .notion-root>.notion-quote {
        line-height: 1.25 !important;
    }

    .notion-root .notion-text+.notion-text.bg-gray {
        padding-top: 8% !important;
    }

    .notion-root>.notion-bulleted-list,
    .notion-root>.notion-numbered-list {
        padding-left: 16% !important;
    }

    .notion-image,
    .notion-divider,
    .notion-embed {
        padding: 0 !important;
        margin: 0 !important;
    }

}
